<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Juditi</title>
    <meta name="description" content="appdesc">
    <link rel="canonical" href="appurl">

    <!-- Mobile Stuff -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- OpenGraph -->
    <meta property="og:title" content="appname">
    <meta property="og:description" content="appdesc">
    <meta property="og:image" content="<%= BASE_URL %>img/opengraph.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="appurl">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="appname">
    <meta name="twitter:description" content="appdesc">
    <meta name="twitter:image" content="<%= BASE_URL %>img/opengraph.png">
</head>
<body>
    <noscript>We're sorry but appname doesn't work properly without JavaScript enabled. Please enable it to continue.</noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>
</html>